
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: #7C95D8;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #4969c0;
    margin-bottom: 40px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:bolder;
    margin-top: 10px;
}
span{
    text-decoration: underline;
}

/* ******************************************* class **************************** */
.top{
    background-color: #F1F5FB;
    padding-top: 150px;
}
.middle{
    background-color: #FAF3F0;
}
.cloud1{
    width: 18%;
    height: 80px;
    position: absolute;
    right: 200px;
    top: 100px;
   
}
.cloud2{
    width: 18%;
    height: 80px;
    position: absolute;
    left: 170px;
    bottom: 350px;
   
}

.title{
     position: absolute;
     left: 44%;
     top: 340px;
     color: #7C95D8;
     font-size: 25px;
}
.profile{
    width: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.getInTouch{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 15px;
}
.hobbies3{
    position: relative;
    left: 300px;
    bottom: 500px;
    
}
.hobbies2{
    position: relative;
    right: 300px;
    bottom: 248px;
    
}
.chilli{
    position: relative;
    right: 300px;
}
.bottom{
    position: relative;
    bottom: 450px;
    background-color: rgb(255, 248, 248);
}